In [1]:
import pandas as pd
import plotly.graph_objects as go

In [ ]:
from striprtf.striprtf import rtf_to_text

with open("yourfile.rtf") as infile:
    content = infile.read()
    text = rtf_to_text(content)
print(text)

In [13]:
test_df = pd.read_csv("/Users/NEK/Downloads/UgandaMaternalV3V4.16s_DADA2.taxon_abundance.tsv", sep = "\t")

,Unnamed: 0,5025.SRR12919592,6008.SRR12919531,6019.SRR12919571,5031.SRR12919543,6012.SRR12919530,5022.SRR12919612,5016.SRR12919570,5034.SRR12919504,5047.SRR12919585,...,5006.SRR12919595,6010.SRR12919577,5049.SRR12919536,6038.SRR12919564,6016.SRR12919573,5048.SRR12919584,5023.SRR12919611,6042.SRR12919511,6047.SRR12919560,taxonomy
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Archaea;Euryarchaeota;Methanobacteria;Methanob...
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Archaea;Thermoplasmatota;Thermoplasmata;Methan...
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bacteria;Actinobacteriota;Actinobacteria
3,4,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bacteria;Actinobacteriota;Actinobacteria;Actin...
4,5,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,7.0,Bacteria;Actinobacteriota;Actinobacteria;Bifid...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bacteria;Verrucomicrobiota;Chlamydiae;Chlamydi...
98,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bacteria;Verrucomicrobiota;Chlamydiae;Chlamydi...
99,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eukaryota;Discoba;Discicristata;Euglenozoa
100,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eukaryota;Excavata;Metamonada;Parabasalia;Tric...
101,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,Eukaryota;Excavata;Metamonada;Parabasalia;Tric...

In [39]:
cols = ["taxonomy", "Domain", "Phylum", "Class", "Order", "Family", "Genus", "Species"]
new_df = pd.DataFrame(columns = cols)
new_df

# counter = 0
# for elt in test_df["taxonomy"].tolist():
#     split_elt = elt.split(";")
#     split_elt.insert(0, elt)
    
#     if len(split_elt) != 8:
#         nans_needed = 8 - len(split_elt)
#         split_elt.extend(nans_needed * ['nan'])
    
#     new_df.iloc[counter] = split_elt
    
# new_df

Empty DataFrame
Columns: [taxonomy, Domain, Phylum, Class, Order, Family, Genus, Species]
Index: []

In [59]:
all_rows = test_df["taxonomy"].tolist()

counter = 0
for elt in all_rows:
    split_elt = elt.split(";")
    split_elt.insert(0, elt)
    
    if len(split_elt) != 8:
        nans_needed = 8 - len(split_elt)
        split_elt.extend(nans_needed * [0])
    
    new_df.loc[counter] = split_elt
            
    counter += 1

In [61]:
new_df.to_csv("/Users/NEK/Downloads/taxonomy_table.csv")

In [4]:
tax_ab = pd.read_excel("/Users/NEK/Downloads/test_taxon_abund.xlsx")
tax_ab

,5025.SRR12919592,6008.SRR12919531,6019.SRR12919571,5031.SRR12919543,6012.SRR12919530,5022.SRR12919612,5016.SRR12919570,5034.SRR12919504,5047.SRR12919585,5046.SRR12919586,...,6042.SRR12919511,6047.SRR12919560,taxonomy,Domain,Phylum,Class,Order,Family,Genus,Species
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Archaea;Euryarchaeota;Methanobacteria;Methanob...,Archaea,Euryarchaeota,Methanobacteria,Methanobacteriales,Methanobacteriaceae,Methanobrevibacter,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Archaea;Thermoplasmatota;Thermoplasmata;Methan...,Archaea,Thermoplasmatota,Thermoplasmata,Methanomassiliicoccales,Methanomethylophilaceae,0,0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Bacteria;Actinobacteriota;Actinobacteria,Bacteria,Actinobacteriota,Actinobacteria,0,0,0,0
3,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Bacteria;Actinobacteriota;Actinobacteria;Actin...,Bacteria,Actinobacteriota,Actinobacteria,Actinomycetales,Actinomycetaceae,Mobiluncus,0
4,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,7.0,Bacteria;Actinobacteriota;Actinobacteria;Bifid...,Bacteria,Actinobacteriota,Actinobacteria,Bifidobacteriales,Bifidobacteriaceae,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Bacteria;Verrucomicrobiota;Chlamydiae;Chlamydi...,Bacteria,Verrucomicrobiota,Chlamydiae,Chlamydiales,Chlamydiaceae,0,0
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Bacteria;Verrucomicrobiota;Chlamydiae;Chlamydi...,Bacteria,Verrucomicrobiota,Chlamydiae,Chlamydiales,Chlamydiaceae,Chlamydia,0
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,Eukaryota;Discoba;Discicristata;Euglenozoa,Eukaryota,Discoba,Discicristata,Euglenozoa,0,0,0
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Eukaryota;Excavata;Metamonada;Parabasalia;Tric...,Eukaryota,Excavata,Metamonada,Parabasalia,Trichomonadea,0,0
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Eukaryota;Excavata;Metamonada;Parabasalia;Tric...,Eukaryota,Excavata,Metamonada,Parabasalia,Trichomonadea,Trichomonas,0

In [9]:
samples = []
for elt in tax_ab.columns.tolist():
    if "SRR" in elt:
        samples.append(elt)

In [ ]:

fig = go.Figure(data=[
    go.Bar(name = 'SF Zoo', x = samples, y=[20, 14, 23]),
    go.Bar(name = 'LA Zoo', x = samples, y=[12, 18, 29])
])
# Change the bar mode
fig.update_layout(barmode='stack')
fig.show()